.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-top: 20px;
  width: 100%;
  z-index: 20;
  
  position: unset;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
}